{% extends "base.html" %} {% load static %} {% block extra_head %}
<script src="{% static 'js/signature-pad-js.js' %}"></script>
{% endblock extra_head %} {% block content %}
<form method="post" action="">
  {% csrf_token %}

  <div>
    <label for="name">Name</label>

    <input type="text" id="name" name="name" required />
  </div>

  <div>
    <label for="signature">Signature</label>

    <canvas id="signature" width="600" height="304"></canvas>
  </div>

  <div>
    <button type="button" id="clearSignature">Clear</button>

    <button type="submit">Submit</button>
  </div>
</form>
{% endblock content %} {% block body_end %}
<script type="text/javascript">
  signaturePad("signature", "clearSignature");
</script>
{% endblock body_end %}
